body {font-family: Arial, Helvetica, sans-serif; font-size: 14px;}
h1 {color: red;}
h2 {color: #446C12; font-size: 1.85em; font-weight: normal; margin-top: 0; clear: both;}

.clear {clear: both;}
.hidden {display: none;}

#float { position: absolute; z-index: 10; border-color: black; background-color: white; width: 200px; padding: 5px;
		border-style: solid; border-width: 1px;}

.expando { background-color: lightblue; padding: 10px; margin: 5px; list-style-type: none;}
.expandee { background-color: white; padding: 10px; margin: 5px; list-style-type:none;}

.header {background: url('../images/bgrHeader.png'); width: 956px; height: 199px;}
	.logo {padding: 35px 0 0 20px;}
	#navContainer {padding-top: 33px;}
		#navContainer a:link, #navContainer a:visited, #navContainer a:active {color: #039; text-decoration: none; border-bottom: 1px dotted #039;}
		#navContainer a:hover {border-bottom-style: solid; border-bottom-color: #ec7320; color: #ec7320;}
		#navContainer ul {float: left; margin: 0; padding: 0;}
			#navContainer ul li {float: left; list-style: none; padding: 0 20px 0 0; margin: 0;}
.content {background: url('../images/bgrDefaultTopWithImage.png') no-repeat; padding: 20px; width: 916px;}
	.content p {width: 65%; line-height: 1.3em;}
	.contentRepeat {background: url('../images/bgrDefaultRepeat.png') repeat-y;}
	.currentLoc {font-weight: bold; margin-left: 5px;}
	.forms label {font-weight: bold; display: block;}
	.forms label.disabled {color: #999;}
	.forms input {width: 250px;}
	.forms input[readonly] {color: #999;}
		.formLine {padding-bottom: 15px;}
		.formButtons {padding-top: 40px;}
	#floorSelect {}
		#floorSelect span {float: left; padding: 10px 0; font-weight: bold; margin-right: 5px;}
		#floorSelect ul {margin: 0; padding: 0;}
		#floorSelect ul li {float: left; padding: 10px 15px; margin: 0 5px; list-style: none; -moz-border-radius: 10px; border-radius: 10px;}
			#floorSelect ul li.active {background: #ccc;}
			#floorSelect ul li:hover {cursor: pointer; background: #e5effc;}
	#roomSelect {max-width: 65%;}
		#roomSelect span {padding: 10px 0 20px; display: block; font-weight: bold; margin-right: 5px;}
		#roomSelect ul {margin: 0; padding: 0;}
		#roomSelect ul li {float: left; padding: 0; margin: 0 5px; list-style: none; -moz-border-radius: 10px; border-radius: 10px;}
			#roomSelect ul li:hover {background: #e5effc;}
			#roomSelect a, #roomSelect a:active, #roomSelect a:visited {color: #000; cursor: pointer; padding: 15px; text-decoration: none; width: 150px; display: block;}

.footer {background: url('../images/footer.png') repeat-x; width: 956px; height: 57px; position: relative; top: -10px;}
	.copyright {font-size: 11px; color: #333; padding: 3px;}

/* Poster Styling */
#poster h1 {margin-top: 0;}

/* Routing Styling */
.floorcanvas {margin-left: 10px; border: 2px solid gray;}


@media only screen and (device-width: 768px) {
	/* rules for iPad in landscape orientation */

	.header {background: url('../images/bgrHeaderTablet.png'); width: 750px; height: 163px;}
		.logo {padding-top: 20px;}
		#navContainer {padding-top: 13px;}
			#navContainer .nonMobile {display: none;}
	.contentRepeat {background: url('../images/bgrDefaultRepeatTablet.png') repeat-y;}
		.content {background: url('../images/bgrDefaultTopWithImageTablet.png') no-repeat; padding: 20px; width: 750px;}
	.footer {width: 750px; height: 50px;}
	.copyright {width: 750px;}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* iPhone, Android rules here */

	h2 {padding-top: 10px; font-size: 1.5em;}
	.header {background: url('../images/bgrHeaderMobile.jpg'); width: 300px; height: 61px;}
		.logo {padding: 0 0 0 10px;}
			.logo img {width: 33%}
		#navContainer {padding: 15px 0;}
			#navContainer .nonMobile {display: none;}
	.content {background: none; width: 260px;}
		.content p {width: auto;}
		.currentLoc {display: block; margin-left: 0;}
	.contentRepeat {background: url('../images/bgrDefaultRepeatMobile.png') repeat-y;}
	.footer {width: 300px; height: 30px;}
	.copyright {width: 300px;}
}