!!!
html(lang="en")
	include head
	body
		include header
			include navigation
		.contentRepeat
			.content
				h2  Welcome to #{settings.locationName}

				div#floorSelect
					span Select a floor:
					ul
						each info, num in floors
							li(data-floor=num).floorbtn= info.description
				.clear
				#FloorPlan(style="position: relative")
					canvas(id="floorcanvas")

			script(type="text/javascript", src="/js/lib/jquery.fancybox.js")
			script(type="text/javascript", src="/js/addNodes.js")

			link(rel="stylesheet", href="/css/jquery.fancybox.css")
		include footer