!!!
html(lang="en")
	include head
	body
		form
			input(type='hidden', name='posx', value=x)
			input(type='hidden', name='posy', value=y)
			input(type='hidden', name='floor', value=floor)

			label(for='name') Name:
			input(id='name')
			label(for='type') Type:
			select(id='type')
				option(id='endpoint') Endpoint
				option(id='junction') Junction
			button(id='save') Save

		script(type='text/javascript', src='/js/addNodeForm.js')