!!!
html.no-hs(lang="en")
	include head
	script(type="text/javascript", src="/js/generate.js")
	body
		h1  Generate a Waypoint QR Code Poster
		label(for='nodeid') Node ID:
		input(id='nodeid') OK
		button(id='generate') Generate