!!!
html.no-hs(lang="en")
	include head
	script(type="text/javascript", src="/js/generate.js")
	body
		h1  Generate a Waypoint QR Code Poster
		select(id= 'nodes')
			for item in nodes
				if (item.type != 'junction')
					option(id= item.id)= item.name
		button(id='generate') Generate