!!!
html.no-hs(lang="en")
	include head
	script(type="text/javascript", src="/js/generate.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h2 Generate a Waypoint QR Code Poster

				.forms
					label(for='search') Search:
					input(id='search')
					input(type='hidden', id='search_val')
					div(id='float').hidden
						for item in nodes
							div(id=item.id).result.hidden= item.name
					button(id='generate') Generate
		include footer