!!!
html(lang="en")
	include head
	body
		include header
			include navigation
		.contentRepeat
			.content
				h1  Welcome to Dell Childrens' Hospital
				p Select a room to display:
				ul
					each node in nodes.endpoints
						li
							a(href='/node/' + node.id)= node.name
			include footer