!!!
html(lang="en")
	include head
	body
		include header
			include navigation
		.contentRepeat
			.content
				h2=  "Welcome to " + settings.locationName
				p= settings.helperText
				#roomSelect
					span Select a room to display:
					ul
						each node in nodes.endpoints
							li
								a(href='/node/' + node.id)= node.name
				.clear
		include footer