!!!
html.no-hs(lang="en")
	include head
	meta(id="node", content= from.id)
	body
		include header
		.contentRepeat
			.content
				include navigation
				br
				ul
					li.expando Nearest...
						ul.hidden
							li Nurse Station
							li Food
							li Restroom
							li ATM
							li Lounge
					li.expando Conference Rooms
						ul.hidden
							for item in nodes.conference
								li item.name
					li.expando Patient Rooms
						ul.hidden
							for item in nodes.patientroom
								li item.name
					li.expando Lounges
						ul.hidden
							for item in nodes.lounge
								li item.name
					li.expando Entrances
						ul.hidden
							for item in nodes.entrance
								li item.name
					li.expando Misc.

		script(type='text/javascript', src='/js/interstitial.js')

		include footer


		//amenities
		//nurse station
		//patient rooms
		//conference rooms
		//lounges
		//entrances