!!!
html.no-hs(lang="en")
	include head
	meta(id="node", content= node.id)
	script(type="text/javascript", src="/js/node.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h2 Your current location:
					span.currentLoc= node.name
				div.clear
				img(id= 'map', src= '/images/' + floor.image, style= 'z-index: 0;')
				img(id= 'location', src= '/images/here.png', style= 'position: absolute; top:' + node.pos[1] + 'px; left:' + node.pos[0] + 'px;' )
				div.clear
				h2 Where would you like to go?
				select(id= 'nodes')
					for item in nodes
						if (item.type != 'junction')
							option(id= item.id)= item.name
				button(id= 'find') Find
		include footer