!!!
html.no-hs(lang="en")
	include head
	meta(id="node", content= node.id)
	script(type="text/javascript", src="/js/node.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h2 Your current location:
					span.currentLoc= node.name
				canvas(id="mapcanvas",data-bg=floor.image,data-pos=pos)
				h2 Where would you like to go?
				select(id= 'nodes')
					for item in nodes
						if (item.type != 'junction')
							option(id= item.id)= item.name
				button(id= 'find') Find
		include footer