!!!
html.no-hs(lang="en")
	include head
	meta(id="node", content= node.id)
	script(type="text/javascript", src="/js/node.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h2 Your current location:
					span.currentLoc= node.name
				a(id= 'find', href='#') Find your destination
				.clear
				canvas(id="mapcanvas",data-bg=floor.image,data-pos=pos)
		include footer