!!!
html.no-hs(lang="en")
	include head
	meta(id="node", content= node.id)
	script(type="text/javascript", src="/js/node.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h2 Your current location:
					span.currentLoc= node.name
				canvas(id="mapcanvas",data-bg=floor.image,data-pos=pos)
				a(id= 'find') Where would you like to go?

		include footer