!!!
html.no-hs(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title Dell Childrens Hospital Navigation
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(name="description", content="Where do you want to go?")
		link(rel="stylesheet", href="/css/index.css")
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
		script(type="text/javascript", src="/js/poster.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h2 Oops! Guess you can't get there..
				p Just kidding! It looks like we're experiencing an issue right now. Please check with an employee if you need help.
				p Sorry for the inconvenience.
		include footer