!!!
html.no-hs(lang="en")
	include head
	meta(id="host", content= host)
	meta(id="nodeid", content= node)
	script(type="text/javascript", src="/js/poster.js")
	body
		#poster
			.header
				.logo
					img(id='dell', src='/images/logo.png')
			.contentRepeat
				.content
					h1 Lost? Use your Smartphone to get help!
					h2 Use the QR Code below to find out where you are:
					img(id='qr', src='')
					h2 Or visit:
					a(title='Find out where you are!', id='url')
						h3(id='url')
			include footer
