!!!
html.no-hs(lang="en")
	include head
	script(type="text/javascript", src="/js/route.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h2 Here are your directions!

			each floor, i in waypoints
				canvas(id="floorcanvas"+i,data-path=floor.path,data-bg=floor.floor.image).floorcanvas

				ul
					each step in floor.tbt
						if step
							li=step
					
			script(type="text/javascript", src="/js/routedraw.js")

			include footer