!!!
html.no-hs(lang="en")
	include head
	script(type="text/javascript", src="/js/route.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h1  Routing!

			each floor, i in waypoints
				h3= floor.floor.description

				ul
					each step in floor.tbt
						if step
							li=step

				canvas(id="floorcanvas"+i,data-path=floor.path,data-bg=floor.floor.image).floorcanvas
					
			script(type="text/javascript", src="/js/routedraw.js")

			include footer