!!!
html.no-hs(lang="en")
	include head
		script(type="text/javascript", src="/js/poster.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h1  Routing!
				div(id= 'map')
				p Distance: #{waypoints.dist}
				each waypoint in waypoints.tbt
					li=waypoint
			include footer
