!!!
html.no-hs(lang="en")
	include head
		script(type="text/javascript", src="/js/poster.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h1  Super fun placeholder for the Routing Page!
				div(id= 'map')
			include footer